<br><br>
<h2 class="text-center"><i>People List</i></h2><br>
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <table class="table table-striped table-condensed" style="border:1px solid brown;">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Mobile No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getrec">
            <td>{{item.peopleid}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Age}}</td>
            <td>{{item.Gender}}</td>
            <td>{{item.MobileNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>